.container-dash {
  background: linear-gradient(
    296.66deg,
    #c1fffb 1.14%,
    rgba(255, 201, 201, 0.6) 98.21%
  );
}

.grid-container-dash {
    height: 100vh;
    display: grid;
    margin: 0px 70px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.4fr 1fr 0.5fr;
    column-gap: 20px;
  }

.Dash-heading {
      text-align: center;
      padding-bottom: 30px;
  }

.grid-item-dash-1{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/13;
  padding: 20px;
  height: 472px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 15px;
}
